.navbar {
    background: linear-gradient(to right, #491e5a, #97b8c7);
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .nav-link {
    color: #cdd7eb !important;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgba(7, 0, 27, 0.5);
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: #100f5a !important;
}


.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box input {
    padding: 8px 12px;
    border: none;
    border-radius: 61px;
    background-color: #fcfafa;
    width: 250px;
    font-size: 16px;
}

.search-box button,
.search-box button.btn {
    padding: 8px 15px;
    background-color: #0d335a !important;
    color: white !important;
    border-radius: 61px;
    border: 2px solid #8e9fb1 !important;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.search-box button:hover,
.search-box button.btn:hover {
    background-color: #e2e3e6 !important;
    border-color: #001a66 !important;
    color: white !important;
    transform: scale(1.05);
}


.navbar .navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid #161642;
    object-fit: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}

.navbar .navbar-brand img:hover {
    transform: scale(1.1);
}


.hero-section {
    margin-top: -50px;
    background: radial-gradient(
        circle at center,
        #414142 0%,
        #cec8c8 55%,
        #e8e8e8 100%
    );
    width: 100%;
    height: 100%;
}


.main-title {
    font-size: 50px;
    font-weight: bold;
    color: #1a1a31;
    text-shadow: 4px 4px 10px rgba(235, 230, 230, 0.7);
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-align: center;
}


.hero-image {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    border: 5px solid #161642;
    object-fit: cover;
    margin: 20px 0;
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.6));
    transition: transform 0.3s, box-shadow 0.3s;
}

/*  index page */
.sub-title {
    font-size: 45px;
    font-weight: bold;
    color: #5a3c66;
    text-shadow: 3px 3px 8px rgba(253, 249, 249, 0.6);
    letter-spacing: 2px;
    margin-top: 10px;
}


.social_media li a {
    color: #491e5a;
    font-size: 50px;
    transition: transform 0.3s, color 0.3s;
}

.social_media li a:hover {
    color: #97b8c7;
    transform: scale(1.2);
}